<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="C:\temp\traces.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="EETSOAP">
          <security mode="Transport">
            <transport clientCredentialType="Certificate">
            </transport>
            <message algorithmSuite="Basic256Sha256Rsa15" clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
      <basicHttpsBinding>
        <binding name="EETSOAP">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
            <message algorithmSuite="Basic256Sha256Rsa15" clientCredentialType="Certificate"/>
          </security>
        </binding>
        <binding name="EETSOAP1" />
      </basicHttpsBinding>
    </bindings>
    <client>
      <endpoint address="https://pg.eet.cz:443/eet/services/EETServiceSOAP/v3"
        binding="basicHttpsBinding" bindingConfiguration="EETSOAP" contract="EETService_v3.EET"
        name="EETServiceSOAP" />
    </client>
  </system.serviceModel>
</configuration>