<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
				<listeners>
					<add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="C:\temp\traces.svclog"  />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="EETSOAP">
					<!--<transactionFlow />-->
					<security authenticationMode="CertificateOverTransport"  defaultAlgorithmSuite="Basic256Sha256Rsa15"
										messageSecurityVersion="WSSecurity11WSTrust13WSSecureConversation13WSSecurityPolicy12"
										requireDerivedKeys="false" enableUnsecuredResponse="true" securityHeaderLayout="Lax" messageProtectionOrder="SignBeforeEncrypt" />
					<!--<customTextMessageEncoding messageVersion="Soap11"/>-->
					<textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap11" writeEncoding="utf-8">
						<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					</textMessageEncoding>
					<httpsTransport  />
				</binding>
			</customBinding>

			<wsHttpBinding>
				<binding name="EETSOAP">
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="Certificate"/>
						<message clientCredentialType="Certificate" establishSecurityContext="false" algorithmSuite="Basic256Sha256Rsa15" negotiateServiceCredential="False"/>
					</security>
				</binding>
			</wsHttpBinding>
			<basicHttpsBinding>
				<binding name="EETSOAP">
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="Certificate"/>
						<message algorithmSuite="Basic256Sha256Rsa15" clientCredentialType="Certificate"/>
					</security>
				</binding>
			</basicHttpsBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="signature">
					<clientCredentials >
						<clientCertificate storeLocation="CurrentUser" storeName="My" findValue="CZ00000019" x509FindType="FindBySubjectName"/>
					</clientCredentials>
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<client>
			<endpoint address="https://pg.eet.cz:443/eet/services/EETServiceSOAP/v3"
        binding="customBinding" bindingConfiguration="EETSOAP" 
								contract="EETService_v311.EET" behaviorConfiguration="signature"
        name="EETServiceSOAP" />
		</client>
		<extensions>
			<bindingElementExtensions>
				<add name="customTextMessageEncoding" type="Microsoft.Samples.CustomTextMessageEncoder.CustomTextMessageEncodingElement, CustomTextMessageEncoder"/>
			</bindingElementExtensions>
		</extensions>
	</system.serviceModel>
</configuration>