################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EETTester/obj/Debug
/EETTester/bin/Debug
/EETWrapper/bin/Debug
/EETWrapper/obj/Debug
/.vs
/EETWrapper/obj/Release
/EETWrapper/bin/Release
/EETTester/bin/Release
/EETTester/obj/Release
/EETTester.vshost.exe.manifest
/EETTester.vshost.exe.config
/EETTester.exe.config
/CustomTextMessageEncoder/obj/Release
