################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EETTester/obj/Debug
/EETTester/bin/Debug
/EETWrapper/bin/Debug
/EETWrapper/obj/Debug
/.vs
/EETTester/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/EETTester/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/EETTester/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/EETTester/obj/Release/EETTester.csproj.FileListAbsolute.txt
/EETTester/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/EETTester/obj/Release/build.force
/EETTester/bin/Release/EETTester.vshost.exe.manifest
/EETTester/bin/Release/EETTester.vshost.exe.config
/EETTester/bin/Release/EETTester.vshost.exe
/EETTester/bin/Release/EETTester.exe.config
/EETWrapper/obj/Release/TempPE/Assets.Messages.Designer.cs.dll
/EETWrapper/obj/Release/TempPE/Assets.Exceptions.Designer.cs.dll
/EETWrapper/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/EETWrapper/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/EETWrapper/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/EETWrapper/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/CustomTextMessageEncoder/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/CustomTextMessageEncoder/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/CustomTextMessageEncoder/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/CustomTextMessageEncoder/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
